body {

    max-width: 500px;

    max-height: 500px;


}



#login-container {

    background-color: black;

    height: 30px;

    width: 8px;

}



.imagem {

    width: 30px;

    height: 20px;


}