*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
    color: black;
    border: none;
}

body{
    background-image: url(mondrone.png);
    background-size: cover;
}

textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .9rem;
}


#login-container {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 8px;
    text-align: center;
}

form {
    margin-top: 30px;
    margin-bottom: 40px;        
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}


input:focus {
    border: 2px solid grey;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
    background-color: #c00;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: grey;
    transition: .5s;

}

#validar {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
