*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
    color: black;
    border: none;
}

body{
    background-image: url(imagens/mondrone.png);
    background-size: cover;
}




#login-container {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 30vh;
    border-radius: 8px;
    text-align: center;
}

#login-container h1{
    text-decoration: overline solid #c00;
}



label, input {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

label {
    font-weight: bold;
}

input {
    border: 2px solid black;
    padding: 8px;
    margin-left: 25%;
    border-radius: 5px;
    margin-bottom: 20px;
}

input:focus {
    border: 2px solid grey;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
    background-color: #c00;
    cursor: pointer;
}


#validar {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 12px;
}