*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Helvetica;
    color: black;
    border: none;
}

body{
    background-image: url(imagens/mondrone.png);
}

textarea:focus, input:focus {
    outline: none;
}

a, label {
    font-size: .9rem;
}


#container {
    background-color: white;
    width: 400px;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 3vh;
    border-radius: 8px;
    text-align: center;
}

#container h1{
    text-transform: uppercase;
    font-size: 20px;
}
#container h2{
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: overline solid #c00;
}

#linha-horizontal {
    height: 5px;
    width: 40px;
    border-right: 4px solid #c00;
    margin-top: 10vh;
    padding: 2px ;
    float: left;
}


form {
    margin-top: 30px;
    margin-bottom: 40px;        
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    border: 2px solid black;
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border: 2px solid #c00;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-top: 35px;
    color: white;
    background-color: #c00;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: grey;
    transition: .5s;

}

#validar {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
